/******************************************************************************
                            Stylesheet for wavStation
******************************************************************************/

/* Root Value Stylings */


*,
*:before,
*:after {
    box-sizing: none;
    padding: 0;
    margin: none;
}

@font-face {
    font-family: ITC-Garamond;
    src: url(/assets/fonts/itc-garamond-std-book-narrow.otf);
  }


/* Body Stylings */


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    
    font-family: ITC-Garamond;
    background-image: linear-gradient(
        0deg,
        rgb(84, 32, 201) 25%,
        rgb(230, 170, 255) 75%
    ); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Music Player Stylings */


.music-container {
    display: flex;
    position: relative;
    padding: 1.5rem;
    margin: 3rem;
    border-radius: 15px;
    z-index: 10;

    background-color: white;
    box-shadow: 0px 10px 20px 10px #FFC708;
}

.img-container {
    position: relative;
    width: 110px;
}

.img-container::after {
    content: '';
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


.img-container img {
    position: absolute;
    width: inherit;
    height: 110px;
    bottom: 0;
    left: 0;

    border-radius: 50%;
    object-fit: cover;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
} 

.music-container .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}


.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: white;
    border: none;
    color: grey;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0px 20px;
}

.btn-big {
    color: darkgrey;
    font-size: 30px;
}

.action-btn:focus {
    outline: 0;
}

.music-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    height: 30%;
    width: 50%;
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3 ease-in, opacity 0.3 ease-in;
}

.music-info > h4 {
    margin: 0;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 5px;
    width: 100%;
}

.progress {
    background-color: rgb(84, 32, 201);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}