

/* Basic page style resets */
* {
  box-sizing: border-box;
  user-select: none;
  transition: 1s ease-in-out;
}
[hidden] {
  display: none !important;
}


/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Master Properties */

body {
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: HK Grotesk;
  background-color: black;
}

span {
  font-size: 1.5vw;
}

p {
  font-size: 2vw;
}

h1{
  font-size: 2vw;
  margin: 0;
}

li{
  font-size: 1.5vw;
  list-style-type: none;
  margin: 0;
  padding: 0.05vw;
  text-indent: 5vw;
}
/* Landing */

#container{
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: black;
  position: absolute;
  padding-top: 5vh;
  padding-right: 5vw;
  padding-left: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5vh solid black;
  transition:0.5s ease-in-out;
}


#container span{
  color: white;
  font-weight: normal;
}

#container a{
  color: white;
  text-decoration: none;
  transition:0.5s ease-in-out;
}

#container a:hover{
  color: white;
  text-decoration: underline;
  transition:0.5s ease-in-out;
}

#container p{
  color: white;
  width:70vw;
  bottom: 1vh;
  position: absolute;
  opacity: 1;
  transition: 0.5s ease-in-out;
}


/* About Me */

#aboutMe{
  width: 100%;
  padding: 2vw;
  transition: 0.5s ease-in-out;
}

#aboutTrait{
  width: 100%;
  transition: 0.5s ease-in-out;
}

.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}

/* About Me Child Properties */

#dialogue{
  width: 90vw;
  height: 70vh;
  bottom: 2vh;
  position: absolute;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  transition: 0.5s ease-in-out;
  color: white;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

#dialogue h1{
  font-weight: normal;
  text-decoration: none;
}

/* Project Master Properties */

#projects{
  width: 90vw;
  height: 70vh;
  bottom: 2vh;
  position: absolute;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items:stretch;
  align-items: stretch;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(10vh, auto);
  grid-gap:20px;
  color: white;
  opacity: 0;
  transition: 0.5s ease-in-out;
}


#projects article {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 25vh;
  overflow: auto;
  border:5px dotted #FFFFFF;
}


.imgBox{
  width: 100%;
  height:100%;
  margin: none;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.imgBox img{
  height: 100%;
  padding:1vw;
  position: relative;
}

.titleBox {
  display:flex;
  height:20%;
  padding:1vw;
  background:blue;
  justify-content: center;
  align-items: flex-end;
}

.titleBox span {
  width:100%;
  font-size: 2vw;
}
/* Resume Master Properties */

#resume{
  width: 90vw;
  height: 70vh;
  bottom: 2vh;
  position: absolute;
  background-color: yellow;
  display: flex;
  transition: 0.5s ease-in-out;
  color: white;
  transition: 0.5s ease-in-out;
  opacity: 0;
}
